.img{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.img img{
	max-height: 40vh;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
.img .img_p{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img .img_p p{
	color: #617583;
}
